/* generic */

/* tailwind slate color palette */
:root {
  --slate-50: #f9fafb; /* lightest shade of slate */
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #9ca3af;
  --slate-500: #6b7280; /* default slate color */
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827; /* darkest shade of slate */
}

html {
  height: 100%;
}

html {
  color: rgb(53, 53, 53);
  background-color: var(--slate-200);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;
}

#sidebar-input:focus,
#list-input:focus,
#sidebar-title-input:focus {
  outline: none;
}

/* left & right containers */

.left {
  background-color: white;
  width: 500px;
  padding: 40px;
  border-radius: 20px;
}

.right {
  width: 100%;
  padding: 0 100px;
}

/* sidebar */

.title,
#sidebar-input {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 15px;
}

.title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title:hover,
.title:hover #sidebar-title-input {
  background-color: var(--slate-100);
}

.title-category {
  cursor: pointer;
  margin-right: 15px;
}

.title-text {
  cursor: text;
}

.title-remove {
  display: none;
  cursor: pointer;
  color: var(--slate-400);
}

.title:hover .title-remove {
  /* shows remove button when hovering on title */
  display: block;
}

#sidebar-input::placeholder,
#sidebar-title-input::placeholder {
  color: var(--slate-400);
}

/* emoji animation */

.emoji-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.emoji {
  cursor: pointer;
}

.emoji:nth-child(1) {
  animation-delay: 0s;
}

.emoji:nth-child(2) {
  animation-delay: 0.05s;
}

.emoji:nth-child(3) {
  animation-delay: 0.1s;
}

.emoji:nth-child(4) {
  animation-delay: 0.15s;
}

.emoji:nth-child(5) {
  animation-delay: 0.2s;
}

.emoji:nth-child(6) {
  animation-delay: 0.25s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header */

.header-section {
  margin: 30px 0;
}

.greeting-text {
  margin-bottom: 10px;
}

/* list */

.right li,
#list-input {
  width: 100%;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.right li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  border: 0px solid black;
  display: flex;
  align-items: center;
}

.task-checkbox {
  height: 15px;
  width: 15px;
  margin-right: 15px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

/* will check the checkbox */

.checked {
  background-color: black;
}

.task-remove {
  display: none;
  cursor: pointer;
}

.right li:hover .task-remove {
  display: block;
}
