/* generic */

/* tailwind slate color palette */
:root {
  --slate-50: #f9fafb; /* lightest shade of slate */
  --slate-100: #f3f4f6;
  --slate-200: #e5e7eb;
  --slate-300: #d1d5db;
  --slate-400: #9ca3af;
  --slate-500: #6b7280; /* default slate color */
  --slate-600: #4b5563;
  --slate-700: #374151;
  --slate-800: #1f2937;
  --slate-900: #111827; /* darkest shade of slate */
}

html {
  height: 100%;
}

html {
  color: black;
  background-color: var(--slate-200);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;
}

#sidebar-input:focus,
#list-input:focus,
#sidebar-title-input:focus {
  outline: none;
}

/* left & right containers */

.left {
  background-color: white;
  width: 500px;
  padding: 40px;
  border-radius: 20px;
}

.right {
  width: 100%;
  padding: 0 100px;
}

/* sidebar */

.title,
#sidebar-input {
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 15px;
}

.title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.15s;
}

.title:hover,
.title:hover #sidebar-title-input {
  background-color: var(--slate-100);
}

.title-category {
  cursor: pointer;
  margin-right: 15px;
}

.title-text {
  cursor: text;
}

.title-remove {
  display: none;
  cursor: pointer;
  color: var(--slate-400);
}

.title:hover .title-remove {
  /* shows remove button when hovering on title */
  display: block;
}

#sidebar-input::placeholder,
#sidebar-title-input::placeholder {
  color: var(--slate-400);
}

.selected {
  background-color: var(--slate-100);
}

/* emoji animation */

.emoji-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.emoji {
  cursor: pointer;
}

.emoji:nth-child(1) {
  animation-delay: 0s;
}

.emoji:nth-child(2) {
  animation-delay: 0.05s;
}

.emoji:nth-child(3) {
  animation-delay: 0.1s;
}

.emoji:nth-child(4) {
  animation-delay: 0.15s;
}

.emoji:nth-child(5) {
  animation-delay: 0.2s;
}

.emoji:nth-child(6) {
  animation-delay: 0.25s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header */

.header-section {
  margin-top: 30px;
}

.greeting-text,
.date-text {
  font-size: 1.3rem;
}

.greeting-text {
  font-weight: 500;
  margin-bottom: 10px;
}

.date-text {
  color: var(--slate-500);
}

/* list */

.task,
#list-input {
  width: 100%;
  margin-bottom: 3px;
  padding: 15px;
}

#list-input {
  margin-top: 30px;
  border-radius: 15px;
  background-color: var(--slate-300);
  margin-bottom: 20px;
}

.task {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.task:hover {
  background-color: var(--slate-100);
  transition: background-color 0.15s;
}

.task:first-of-type {
  border-radius: 15px 15px 6px 6px;
}

.task:last-of-type {
  border-radius: 6px 6px 15px 15px;
}

.task-container {
  display: flex;
  align-items: center;
}

.task-checkbox {
  background-color: var(--slate-200);
  height: 17px;
  width: 17px;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.checked {
  /* checked checkbox */
  background-color: var(--slate-600);
}

.strikethrough {
  /* strikethrough text */
  text-decoration: line-through;
}

.task-remove {
  color: var(--slate-400);
  height: 17px;
  width: 17px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}

.task-remove:hover {
  background-color: var(--slate-200);
  transition: background-color 0.15s;
}

.task:hover .task-remove {
  /* shows remove button when hovering on task */
  display: flex;
  justify-content: center;
  align-items: center;
}
