/* generic */

html {
  height: 100%;
}

html {
  color: rgb(53, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  height: 90%;
  display: flex;
  padding: 10px;
  gap: 10px;
}

/* left & right containers */

.left {
  width: 300px;
  padding: 40px;
  border: 1px solid;
  border-radius: 15px;
}

.right {
  width: 100%;
  padding: 100px;
}

/* sidebar */

.left li,
.left input {
  font-size: 1rem;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.left li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-remove {
  display: none;
  cursor: pointer;
}

.left li:hover .title-remove {
  display: block;
}

/* list */

.right li,
.right input {
  width: 100%;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.right li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-remove {
  display: none;
  cursor: pointer;
}

.right li:hover .task-remove {
  display: block;
}
