.listItem {
  border-radius: 10px;
  transition: background-color 0.15s;

  &.active,
  &:hover {
    background-color: var(--slate-100);
  }

  .listContent {
    height: 50px;
    width: 290px;
    padding: 0 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .left {
      display: flex;
      gap: 15px;

      .emoji {
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
      }

      .emoji:hover {
        background-color: var(--slate-200);
        transition: background-color 0.15s;
      }

      .title {
        max-width: 200px;
        font-size: 14px;
        font-weight: 500;
        cursor: text;
        background-color: transparent;

        @media (max-width: 460px) {
          max-width: 140px;
        }
      }
    }

    .right {
      .remove {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        height: 24px;
        width: 24px;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0;
      }

      .remove:hover {
        background-color: var(--slate-200);
        transition: background-color 0.15s;
      }
    }

    &:hover .remove {
      opacity: 1;
    }
  }
}
