.app {
  display: flex;
  padding: 10px;
  min-height: 100vh;

  .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    width: 370px;
    padding: 40px;
    border-radius: 20px;
  }

  .right {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    gap: 30px;
    flex: 1;
  }
}
